# prevent credential sharing for dev
azure_credentials-apply.sh
credentials-apply.sh
.*-apply.sh

#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# output files
terraform/output/*